<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" >
    <title>My Profile</title>
</head>
<body>
    <div class="top">
        <h1 style="text-align: center">Stewie Griffin</h1>
        <div class="profileImage">
            <img style="text-align: center; border-radius: 50px;" 
                class="img-thumbnail"  src="{{url_for('static', filename='images/profile.png')}}" 
                width="100px" height="100px" align="middle" />
        </div>
        <h2>Personal Informatiom</h2>
        <p style="text-align: left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel. Amet aliquam id diam maecenas ultricies mi eget. Amet massa vitae tortor condimentum lacinia. Aenean vel elit scelerisque mauris pellentesque. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Elit ullamcorper dignissim cras tincidunt lobortis. Aenean et tortor at risus viverra adipiscing at in tellus. Sit amet luctus venenatis lectus magna. Consectetur libero id faucibus nisl tincidunt eget.
        </p>
        <h2>Background</h2>
        <p style="text-align: left">
            Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Ac auctor augue mauris augue neque gravida. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Auctor eu augue ut lectus arcu. Potenti nullam ac tortor vitae purus. Scelerisque varius morbi enim nunc faucibus a pellentesque sit amet. Tortor aliquam nulla facilisi cras fermentum odio. In vitae turpis massa sed elementum tempus egestas. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Vel pretium lectus quam id leo. Enim eu turpis egestas pretium aenean pharetra magna. Eleifend donec pretium vulputate sapien nec. Volutpat commodo sed egestas egestas fringilla. Auctor elit sed vulputate mi.
        </p>
        
    </div>
</body>
</html>